@font-face {
  font-family: "zt-iconfont"; /* Project id 3885847 */
  src: url('iconfont.ttf?t=1675924615033') format('truetype');
}

.zt-iconfont {
  font-family: "zt-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zt-shanchu1:before {
  content: "\e659";
}

.zt-building-fill:before {
  content: "\e64a";
}

.zt-pin:before {
  content: "\e60b";
}

.zt-gantanhao:before {
  content: "\e710";
}

.zt-arrowbottom:before {
  content: "\e6a2";
}

.zt-guanbi1:before {
  content: "\e60a";
}

.zt-liebiao:before {
  content: "\e66a";
}

.zt-shouye1:before {
  content: "\e62c";
}

.zt-jiesuan-xianxing:before {
  content: "\e8a2";
}

.zt-shouye:before {
  content: "\e751";
}

.zt-renwuguanli:before {
  content: "\e611";
}

.zt-xitongguanli:before {
  content: "\e64f";
}

.zt-xiangxia:before {
  content: "\e600";
}

.zt-xiangshang:before {
  content: "\e601";
}

.zt-jichushuju:before {
  content: "\e7d3";
}

.zt-yonghu-xianxing:before {
  content: "\e8e0";
}
